name: PlatformIO CI

on:
  push:
    branches:
      - main
      - working
  pull_request:
    branches:
      - main
      - working

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio
          key: ${{ runner.os }}-pio-${{ hashFiles('**/platformio.ini') }}

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio
          # Add the PlatformIO binary path to the global GitHub Path
          echo "$HOME/.platformio/penv/bin" >> $GITHUB_PATH
          echo "/home/runner/.local/bin" >> $GITHUB_PATH

      - name: Build PlatformIO project
        # This tells the runner to step into your project folder before running the command
        working-directory: Polaris-Robot-Code-2026
        run: pio run
